<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'myapp/style.css' %}" />
        <title>Course Listing APP - {% block title %}Welcome!{% endblock %}</title>
    </head>

    <body>
        <div>
            {% if request.user.is_authenticated %}
                <h1>{% block myhdg %}Hello {{ user.first_name }} {% endblock %}</h1>
                <ul style="float: right">
                    <li class="hbar1"><a href="/myapp/logout/">Logout</a></li>
                </ul>
             {% else %}
                <ul style="float: right">
                    <li class="hbar1"><a href="/myapp/login/">Login</a></li>
                    <li class="hbar1"><a href="/myapp/register/">Register</a></li>
                </ul>
            {% endif %}

            {% block body_block %}*** {% endblock %}
        </div>
        <hr />
        <div>
            <ul>
                <li class="hbar1"><a href="/myapp/about/">Find out about this site</a></li>
                <li class="hbar1"><a href = "{% url 'myapp:topics' %}">Find out topics</a></li>
                <li class="hbar1"><a href = "{% url 'myapp:index' %}">Click here to return to main page</a><br/></li>
            </ul>
        </div>
    </body>
</html>
