<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Course Listing APP</title>
</head>

<body>
    {% if courselist %}
        <h2>List of Courses</h2>
        <ol>
            {% for course  in courselist %}
                <!--<li> {{ course.title}} </li>-->
                <li><a href="{% url 'myapp:detail' course.course_no %}">{{course.title }}</a>
</li>
            {% endfor %}
        </ol>

    {% else %}
        <strong>There are no available courses!</strong>
    {% endif %}
    <p><a href="/myapp/about">About Page (hardcoded)</a></p>
    <p><a href="{% url 'myapp:about' %}">About Page (url namespacing)</a></p>

</body>
</html>
