{% extends 'myapp/base.html' %}
{% block body_block %}
    <div class="myClass">
        <h3>Forget Password</h3>
        <form action="/myapp/modify_pwd/" method="post">
        {% csrf_token %}
            <ul>
                <li>
                    <span class="">New password：</span>
                    <input type="password" name="password1" placeholder="6-20 Charaters">
                    <i></i>
                </li>
                <input type="hidden" name="email" value="{{ email }}">
                <li>
                    <span class="">Confirm password：</span>
                    <input type="password" name="password2" placeholder="6-20 Charaters">
                    <i></i>
                </li>
                <input type="hidden" name="username" value="{{ username }}">
                <li class="button">
                    <input type="submit" value="Submit">
                </li>
            </ul>
        </form>
    </div>
{% endblock %}