{% extends 'myapp/base.html' %}
{% block body_block %}
    <div class="myClass">
        <h3>Topic Information</h3>
        <p>
            Topic Subject: {{ topic.subject }}<br>
            Introduction level course: {{ topic.intro_course }}<br>
            Number of Responses: {{ topic.num_responses }}<br>
            Average age: {{ topic.avg_age }}<br>
        </p>
        <h3>Mark your interest in this topic!!</h3>
        <form action="/myapp/topics/{{topic.pk}}" method="post">
            {% csrf_token %}
            {{ form.as_p}}
            <input type="submit" value="Submit" />
        </form>

    </div>
{% endblock %}